.wer:hover{
    background: #000;
}
ul{
    float: left;
}
.asd{
    background-image: url(https://weblinqs.co.uk/contact-us/);
}
.Mission{
    background-image:url(https://t4.ftcdn.net/jpg/00/72/07/17/360_F_72071785_iWP4jgsalJFR1YdiumPMboDHHOZhA3Wi.jpg);
    background-repeat: no-repeat;
    background-size: cover;
 }
 .aqw{
    background-color: rgb(21, 21, 65);
 }
 .qwe{
    font-size: 28;
 }
 asd1{
    background-image: url(file:///C:/Users/atif/Documents/it.jpg);
 }
 .asd{
    list-style: none;
    color: #000;
    padding-top: 29px;
   margin-left: -140px;
   
    
 }
 .list{
   margin-left: 130px;

 }
 .qwe1{
   font-size: 38px;
   color: aliceblue;
 }
 .qwe2{
   background-color:rgb(27, 27, 56) ;
   
 padding-bottom: -20px;
 }
.qwe3{
   background-color: rgb(8, 8, 39);
}
.qwe4{
   /* background-color: rgb(5, 5, 15); */
   
   text-align: center;
}
.qwe4{
   color: aliceblue;
}
.qwe5{
   height: 3px;
   width: 3px;

}
.qwe6{
   color: #fffbfb;
   
   font-size: 18px;
}
.qwe8{
   background-color: #2e2d2d;
}
.qwe9{
  height: 50px;
  width: 50px;
  float: left;
} 
.qwer1{
 
   font-style: italic;
}
.qwer2{
   
   font-size: 38px;
}
.qwer4{
   height: 100px;
   width: 100px;
  align-items: center;
  margin-top: 10px;
}
.qwer3{
   height: 8px;
   width: 150px;
   background-color: #fffbfb;
   margin-top: 30px;
}
.qwer5{
   font-size: 18;
   color: #fcfbfb;
   margin-top: 50px;
}
.qwer6{
   border: 5px solid black;
   
 
}
.qwerty2{
   background-image: url(https://cdn.wallpapersafari.com/88/25/1MFLBf.jpg);
  background-repeat: no-repeat;
  background-size: cover;
   height: 500px;
   width: 100%;
}
.qwerty4{
   color: #fcfbfb;
   text-align: center;
   font-size: 14px;

}
.qwerty3{
   color: #fcfbfb;
   padding-top: 180px;
   text-align: center;
   font-size: 22px;
}
.qa1{
   text-align: center;
   font-size: 16px;
}
.qa2:hover{
   background-color: aqua;
   
}
.qa3{
   background-color: #151149;
   color: #fffbfb;
   text-align: center;
   border: 3px solid white;
   margin-left: 570px;
}
.qa3:hover{
   background-color: aqua;
   

}