.wer:hover{
    background: #000;
}
ul{
    float: left;
}
.asd{
    background-image: url(https://weblinqs.co.uk/contact-us/);
}
.Mission{
    background-image:url(https://t4.ftcdn.net/jpg/00/72/07/17/360_F_72071785_iWP4jgsalJFR1YdiumPMboDHHOZhA3Wi.jpg);
    background-repeat: no-repeat;
    background-size: cover;
 }
 .aqw{
    background-color: rgb(21, 21, 65);
 }
 .qwe{
    font-size: 28;
 }
 asd1{
    background-image: url(file:///C:/Users/atif/Documents/it.jpg);
 }
 .asd{
    list-style: none;
    color: #000;
    padding-top: 29px;
    margin-left: -120PX;
    
 }
 .asdf{
    color: #000;
 }
 .asw{
    color: #000;
    background-color: cadetblue;
 }
 .list{
    margin-left: 120px;
 }
 .hjk1{
   height: 500px;
   width: 100%;
   background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ2jiD3c-pZslbCMmA4NPAMM9DQSG2ncZ1GDA&usqp=CAU);
   background-repeat: no-repeat;
   background-size: cover;
 }
 .hjk2{
   color: aliceblue;
   text-align: center;
   padding-top: 200px;
 }
 .hjk4{
   height: 5px;
   width: 250px;
   background-color: aqua;
 }